.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 1px;
}

.gallery-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.gallery-image:hover {
    transform: scale(1.1);
}


@media (max-width: 1024px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {

    .gallery {
        grid-template-columns: 1fr;
    }

}