.header-section {
    padding: $base-padding * 1 0 $base-padding * 4;
    text-align: center;
    position: relative;


    @include media-breakpoint-down-sm {
        padding: $base-padding * 2 0 $base-padding * 4.1;
    }


    h2 {
        position: relative;
        font-size: $base-font-size * 4;
        line-height: 81.25px;
        letter-spacing: -0.4px;
        margin-bottom: $base-margin * 1;

        @include media-breakpoint-down-xxl {
            font-size: $base-font-size * 3.5;
        }

        @include media-breakpoint-down-lg {
            font-size: $base-font-size * 3;
            line-height: 65px;
        }

        @include media-breakpoint-down-md {
            font-size: $base-font-size * 2.5;
            line-height: 1.4;
        }

        @include media-breakpoint-down-sm {
            font-size: $base-font-size * 1.9;
            margin-bottom: $base-margin * 0.6;
            line-height: 37.5px;
        }
    }

}

.card-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.slider-container {
    //background-color: $color-primary-dark;
    padding: 3rem 7rem;
    padding-bottom: 6rem;

    @include media-breakpoint-down-md {
        padding: 3rem 4rem;
    }
    @include media-breakpoint-down-sm {
        padding: 3rem 3rem;
    }   

}

.swiper-button-prev {
    color: $color-primary !important;
}

.swiper-button-next {
    color: $color-primary !important;
}

.slide-swiper {
    border-color: rgba(128, 128, 128, 0.614);
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 22rem;
    overflow: hidden;

}


.img {
    max-height: 10%;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.text-slide {

    width: 100%;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;


}